.video-iframe {
  width: 100%;
  height: 340px;
  border: none;
}
.modal-content {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 50%;
  height: auto;
  margin-left: -25%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.modal-close {
  position: absolute;
  right: -8px;
  top: -8px;
  border: none;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 8px 2px;
}

.like {
  background: none;
  font-size: 20px;
  margin: 10px;
}